# App
APP_NAME=LexiRise API
DEBUG=true

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=lexirise

# JWT
JWT_SECRET_KEY=59fd59b2986e13ba42ea01ee959643db77922bdd50f67d774ee1ac451e4c55be
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=30

# Email SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=thanho2909@gmail.com
SMTP_PASSWORD=yoyyioyeolvvqzcw
EMAIL_FROM=thanho2909@gmail.com

# Frontend URL
RESET_PASSWORD_URL=http://localhost:3000/reset-password