# App
APP_NAME=LexiRise API
DEBUG=false

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=lexirise

# JWT
JWT_SECRET_KEY=59fd59b2986e13ba42ea01ee959643db77922bdd50f67d774ee1ac451e4c55be
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=30

# Email SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hdinhtuan93@gmail.com
SMTP_PASSWORD=abcdefghijklmnop
EMAIL_FROM=hdinhtuan93@gmail.com

# Frontend URL cho link reset password
RESET_PASSWORD_URL=http://localhost:3000/reset-password